
a{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
a:link, a:visited, a:active { /**quando link inativo nao tem efeito**/
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	color:#000;
	background:#ff0;
}
h1{
    color: palevioletred;
}